{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Resources": "./src/resources",
          "@Components": "./src/components",
          "@Library": "./src/library"
        }
      }
    ]
  ]
}
