@import "../../scss/partials/variables";

.TodoItem {
  margin: 45px 0;
  transition: background-color 1s;
  border-radius: 15px;
}

.TodoItem__circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  font-size: 2.3rem;
  font-family: $secondary-font;
  color: $primary-color;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  transition: width 0.1s linear, height 0.1s linear, line-height 0.1s linear;
  cursor: pointer;
  background-color: $complementary-color;
}

.TodoItem__circle > .TodoItem__circle__CheckMark {
  width: 10px;
  height: 10px;
}

.TodoItem__circle:hover {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.TodoItem__content {
  width: 100%;
  justify-self: start;
  cursor: pointer;
}

.TodoItem__content__text {
  word-break: break-all;

  text-align: left;
  line-height: normal;
  font-size: 3.2rem;
  font-family: $secondary-font;
}

.TodoItem__content__date {
  position: relative;
  top: -2.5px;
  font-size: 2rem;
  font-family: $secondary-font;
  color: $secondary-color;
  cursor: pointer;
}

.TodoItem--Uncompleted {
  color: $primary-color;
}

.TodoItem--Completed {
  color: $secondary-color;
}

.TodoItem--Uncompleted > .TodoItem__circle {
  color: $primary-color;
  background-color: $complementary-color;
}

.TodoItem--Completed > .TodoItem__circle {
  color: $primary-color;
  background-color: $secondary-color;
}

.TodoItem--Completed > .TodoItem__content > .TodoItem__content__text {
  text-decoration: line-through;
}

.TodoItem--Repeated {
  background-color: $secondary-transparent-color;
}
