@import "../../scss/partials/variables";

.TodoCounter {
  align-self: start;
}

.TodoCounter__h2 {
  color: $secondary-color;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 3.5rem;
}
@media only screen and (min-height: $primary-breakpoint-height) {
  @media only screen and (min-width: $tertiary-breakpoint-width) {
    .TodoCounter__h2 {
      font-size: 4.6rem;
    }
  }
}
