@import "../../scss/partials/variables";

.CreateTodoButton {
  position: absolute;
  bottom: 40px;
  right: 40px;

  padding: 13px;
  border-radius: 50%;
  background-color: $complementary-color;
  transform: translate3d(0, 0, 0);
}

.CreateTodoButton__img {
  width: 47px;
  height: 47px;
}
