@import "../../scss/partials/variables";

.CreateTodoButton {
  position: absolute;
  bottom: 40px;
  right: 40px;

  height: 70px;
  width: 70px;

  padding: 13px;
  border-radius: 50%;
  background-color: $complementary-color;
  transform: translate3d(0, 0, 0);
}

.CreateTodoButton__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 47px;
  height: 47px;
}
