.TodoItem {
  /* height: 40px; */
  margin: 45px 0;
}

.TodoItem__circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  font-size: 2.3rem;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  transition: width 0.1s linear, height 0.1s linear, line-height 0.1s linear;
  cursor: pointer;
}

.TodoItem__circle:hover {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.TodoItem__content {
  width: 100%;
  justify-self: start;
  cursor: pointer;
}

.TodoItem__content__text {
  word-break: break-all;

  text-align: left;
  font-size: 3.2rem;
  font-family: var(--secondary-font);
}

.TodoItem__content__date {
  position: relative;
  top: -2.5px;
  font-size: 2rem;
  font-family: var(--secondary-font);
  cursor: pointer;
}

.TodoUncompleted > .TodoItem__circle {
  color: var(--primary-color);
  background-color: var(--complementary-color);
}

.TodoCompleted > .TodoItem__circle {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* @keyframes strike {

  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  80% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
.strike {
  position: relative;
}
.strike::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

.TodoUncompleted {
  color: var(--primary-color);
}
/* 
.TodoUncompleted:hover > .TodoItem__content > .TodoItem__content__text {
  color: var(--secondary-color);
  text-decoration: line-through;
} */

.TodoCompleted {
  color: var(--secondary-color);
}

.TodoCompleted > .TodoItem__content > .TodoItem__content__text {
  text-decoration: line-through;
}

/* .TodoCompleted:hover > .TodoItem__content > .TodoItem__content__text {
  text-decoration: none;
} */
