.TodoSearch {
  height: 37px;
  width: 100%;
  margin-bottom: 12px;
  border-bottom: 2.5px solid var(--secondary-color);
}

.TodoSearch__Lens {
  width: 16px;
  height: auto;

  fill: var(--secondary-color);
}

.TodoSearch__input:focus {
  outline: none;
}
