.TodoItem {
  margin: 45px 0;
  transition: background-color 1s;
}

.TodoItem__circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  font-size: 2.3rem;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  transition: width 0.1s linear, height 0.1s linear, line-height 0.1s linear;
  cursor: pointer;
  background-color: var(--complementary-color);
}

.TodoItem__circle > .TodoItem__circle__CheckMark {
  width: 10px;
  height: 10px;
}

.TodoItem__circle:hover {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.TodoItem__content {
  width: 100%;
  justify-self: start;
  cursor: pointer;
}

.TodoItem__content__text {
  word-break: break-all;

  text-align: left;
  line-height: normal;
  font-size: 3.2rem;
  font-family: var(--secondary-font);
}

.TodoItem__content__date {
  position: relative;
  top: -2.5px;
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  cursor: pointer;
}

.TodoUncompleted {
  color: var(--primary-color);
}

.TodoCompleted {
  color: var(--secondary-color);
}

.TodoUncompleted > .TodoItem__circle {
  color: var(--primary-color);
  background-color: var(--complementary-color);
}

.TodoCompleted > .TodoItem__circle {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.TodoCompleted > .TodoItem__content > .TodoItem__content__text {
  text-decoration: line-through;
}

.TodoItem--Repeated {
  background-color: var(--secondary-transparent-color);
}
