@import "../../scss/partials/variables";

.Loading {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.Loading__children {
  width: 80%;
  height: 80%;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
}

.Loading__children__animation {
  width: 120px;
  align-self: end;
}

.Loading__children__text {
  align-self: start;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 3rem;
  text-align: center;
}

.fade-out > .Loading__children,
.fade-out > .Loading__children > .Loading__children__animation,
.fade-out > .Loading__children > .Loading__children__text {
  display: block;
  animation: displayNone 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.fade-out > .Loading__children {
  display: grid;
}
