@import "../../scss/partials/variables";

.DateComponent {
  position: relative;
  bottom: -15px;
  align-self: end;
}

.DateComponent__p {
  font-family: $primary-font;
  font-weight: normal;
  font-size: 7.7rem;
}

@media only screen and (min-width: $tertiary-breakpoint-width) {
  .DateComponent__p {
    font-size: 10rem;
  }
}
