.main {
  height: 100vh;
  width: 100vw;
  background-color: #b2e6e1;
}

.paper {
  height: 100%;
  width: 100%;

  padding: 75px 35px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 10% 10% auto;

  background-image: url(resources/img/paper_texture_2.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: 70px;
}
