@font-face {
  font-family: "Ladylike bb";
  src: url(resources/fonts/ladylike-bb.regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Pumpkin Cheesecake";
  src: url(resources/fonts/pumpkin-cheesecake.otf);
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  position: relative;
  font-family: system-ui, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%;

  --primary-color: #000000;
  --secondary-color: #5b5b5b;
  --complementary-color: #f48c06;
  --second-complementary-color: #c12c2c;
  --secondary-transparent-color: #5b5b5b88;
  --white: #fff;

  --primary-font: "Ladylike bb", sans-serif;
  --secondary-font: "Pumpkin Cheesecake", sans-serif;

  --paper-width: 425px;
  --paper-height: 777px;

  --primary-breakpoint-height: 820px;
  --primary-breakpoint-width: 420px;

  --wooden-background: url(resources/img/wooden_background.jpg);
  --paper-background: url(resources/img/paper_texture_2.jpg);
}

/* 
@media only screen and (min-height: 820px) {
  @media only screen and (min-width: 420px) {
    
*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  resize: none;
}
