@font-face {
  font-family: "Ladylike bb";
  src: url(resources/fonts/ladylike-bb.regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Pumpkin Cheesecake";
  src: url(resources/fonts/pumpkin-cheesecake.otf);
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  position: relative;
  font-family: system-ui, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  overflow: hidden;
}

ul {
  list-style-type: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  resize: none;
}
